body {
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 4vh;
}
h1 { font-size: 8vh; }
h2 { font-size: 7vh; }
h3 { font-size: 6vh; }
ul, code { text-align: left;
           display: inline-block; }

#outer {
    height: 100vh;
}
.slide {
    page-break-after:always;
    height: 98vh;
}

@media print {  
  @page {
    size: 297mm 210mm; /* landscape */
   }
}

div.slide > *:first-child {
    margin-top: 0px;
    padding-top: 1vh;
}

iframe {
    width: 90vw;
    border: 0;
    height: 60vh;
}

img {
    max-height: 80%;
    max-width: 80%;
}

